containerSecurityContext:
  enabled: false

artifactory:
  unifiedSecretInstallation: false
  masterKeySecretName: my-masterkey-secret
  joinKeySecretName: my-joinkey-secret
  podSecurityContext:
    enabled: false

rtfs:
  podSecurityContext:
    enabled: false
  containerSecurityContext:
    enabled: false
  persistence:
    federationProperties: {}
  autoscaling:
    enabled: false

postgresql:
  primary:
    podSecurityContext:
      enabled: false
    securityContext:
      enabled: false
    containerSecurityContext:
      enabled: false
ingress:
  enabled: false

ingressGrpc:
  enabled: false

nginx:
  podSecurityContext:
    enabled: false
  containerSecurityContext:
    enabled: false
  persistence:
    enabled: false


unifiedpolicy:
  enabled: false
  autoscaling:
    enabled: false

platformfederation:
  enabled: false
  autoscaling:
    enabled: false

jfbus:
  enabled: false
  autoscaling:
    enabled: false

apptrust:
  enabled: false
  autoscaling:
    enabled: false

filebeat:
  enabled: false

systemYamlOverride:
  existingSecret: ""

router:
  serviceRegistry:
    insecure: false