containerSecurityContext:
  enabled: false

artifactory:
  unifiedSecretInstallation: false
  masterKeySecretName: my-masterkey-secret
  joinKeySecretName: my-joinkey-secret
  podSecurityContext:
    enabled: false
  coldStorage:
    enabled: false
  worker:
    enabled: false
  primary:
    javaOpts:
      xms: ""
      xmx: ""
      corePoolSize: ""
      jmx:
        enabled: false
        port: 1099
        ssl: false
        authenticate: false
        host: ""
        accessFile: ""
        passwordFile: ""
      other: ""
  database:
    maxOpenConnections: 50
  tomcat:
    maintenanceConnector:
      port: 0
    connector:
      maxThreads: 200
      sendReasonPhrase: true
      extraConfig: ""
frontend:
  session:
    timeoutMinutes: "30"

rtfs:
  podSecurityContext:
    enabled: false
  containerSecurityContext:
    enabled: false
  persistence:
    federationProperties: {}
  autoscaling:
    enabled: false

postgresql:
  primary:
    podSecurityContext:
      enabled: false
    securityContext:
      enabled: false
    containerSecurityContext:
      enabled: false
    auth:
      username: ""
      password: ""
      database: ""
    primary:
      service:
        ports:
          postgresql: 5432

nginx:
  podSecurityContext:
    enabled: false
  containerSecurityContext:
    enabled: false
  persistence:
    enabled: false

unifiedpolicy:
  enabled: false
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 1
    targetCPUUtilizationPercentage: 70

platformfederation:
  enabled: false
  autoscaling:
    enabled: false

jfbus:
  enabled: false
  autoscaling:
    enabled: false

apptrust:
  enabled: false
  autoscaling:
    enabled: false

filebeat:
  enabled: false

systemYamlOverride:
  existingSecret: ""

router:
  serviceRegistry:
    insecure: false

logging:
  logToStdoutJson: false
  consoleLog: true

access:
  database:
    maxOpenConnections: 50
    enabled: false
    type: ""
    url: ""
    driver: ""
    user: ""
    password: ""
  javaOpts:
    other: ""
  tomcat:
    connector:
      maxThreads: 200
      sendReasonPhrase: true
      extraConfig: ""

metadata:
  database:
    maxOpenConnections: 50

mc:
  enabled: false
  database:
    maxOpenConnections: 50
  idgenerator:
    maxOpenConnections: 50
  tomcat:
    connector:
      maxThreads: 50
      sendReasonPhrase: true
      extraConfig: ""

jfconnect:
  enabled: false
  jfconnect_service:
    enabled: false

onemodel:
  enabled: false
  apolloYaml: {}

topology:
  enabled: false
  database:
    maxOpenConnections: 50
  internalPort: 8080
  javaOpts:
    other: ""

jfconfig:
  enabled: false
  database:
    maxOpenConnections: 50
  internalPort: 8080
  javaOpts:
    other: ""

event:
  webhooks: []

evidence:
  enabled: false
